[mysqld]

# Sets the data directory where MariaDB stores its database files
datadir = /var/lib/mysql

# Specifies the location of the MariaDB server socket file
socket = /run/mysqld/mysqld.sock

# Binds MariaDB to any host available
bind_address = 0.0.0.0

port = 3306
user = mysql
